@import url('https://fonts.googleapis.com/css?family=Chewy|Roboto');

.App {
    font-family: 'Roboto', sans-serif;
}


/*
font clara: #ecf0f1
font escura: default
azul primario: #34495e
azul secondario: #3498db
azul terciario:


font-family: 'Chewy', cursive;
font-family: 'Roboto', sans-serif;
 */


